@import 'components/header.less';
@import 'components/podcastEpisode.less';
@import 'components/playerUi.less';

* {
  box-sizing: border-box;
}

html {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  margin: 0;
  padding: 0 0 150px 0;
}

.list-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

/* When aria-label exist on button/a elements
    and svg is hidden from screen readers
    prevent clicks on svg and defer to button/a -tag */
button[aria-label], a[aria-label] {
  [aria-hidden="true"] {
    pointer-events: none;
  }
}
